/*
Colors used:
Primary Color (dark grey, text body): #333333;
Primary Color (tangerine): #C25700 (used to be #37222);
Secondary Color (light grey): #666666;
*/

* {
  box-sizing: border-box;
}

.row::after { /* to prevent overlapping elements, need to “clear” the flow, add the code to the row classes. not working in about page*/
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 10px;
}



  /* ==============================
Small devices (smaller than 640px)
================================= */
[class*="col-"] {
  width: 100%;
}

/* || GENERAL STYLES  */

  header {
    padding: 10px 0; /* Add a 10px top bottom */
    background-color: rgb(255, 255, 255);
  }

  p {
    margin-block-start: 0.5em;
  }

  body {
    background-color:rgb(255, 255, 255);
    font-family: 'Proza Libre', sans-serif;
    font-size: 16px; /*Sets the front size to 16px*/
    font-weight: 300; /* Sets the font weight to 300*/
    line-height: 1.6; /* Sets the line-height to 1.6 * the font-size*/
    color: #333333
  }


  h1, h2, h3, h4 {
      font-family: 'Cormorant Garamond', serif; 
      line-height: 1.4;
      color:#333333;
      text-transform: capitalize;
    }
    h1 {
      font-size: 2.75em;
      font-weight: 700;
      margin-top: 0;
      margin-bottom: 0;
    }
    
    h2 {
      font-size: 2.25em;
      font-weight: 700;
    }
    
    h3 {
      font-size: 1.75em;
      font-weight: 400;
    }
    h4 {
      font-size: 1.35em;
      font-weight: 400;
    }


    img {
      width: 100%;
    }

    a {
      color: #C25700;
      text-decoration: none; /* No underlining */
    }
    a:visited { /* visited link */
      color: #333333;
    }

    a:active { /* selected link */
      color:#C25700;
    }
    a:hover,
    a:focus {
      color: #ff8400;
      text-decoration: none; /* save with hovering over a link */
    }

    #name-logo:hover{
      text-decoration: none;
      color: #ff8400;
    }


 
/* || CLASS - MOSTLY INDEX AND ABOUT PAGE STYLES */ 

    .intro-color {/* an architect turned ux designer from new york in different color */
      font-size: 1em;
      font-family: 'Cormorant Garamond', serif;
      font-weight: 700;
      color: #C25700;
    }

    .intro {
      text-transform: none;
    }

    .role-note{/* role in a project */
      font-size: 0.8em;
      font-family: 'Proza Libre', sans-serif;
      color: #666666;
    }

    .page-title{/* for "my work" and "about me" */
      font-family: 'Proza Libre', sans-serif;
      font-size: 1.3em;
      text-align: center;
      margin-bottom: 10px;
      text-transform: capitalize;
    }

    .button {
      display: inline-block; /* since the <a> tag is inline by default, need to change this to inline-block */
      background-color: #C25700;
      color: #ffffff; /* needed to override the default link color */
      font-weight: 400;
      padding: 10px;
      border-radius: 3px;
      border-bottom: 2px solid #c05000; /* width of the border, type, color */
      transition: 0.2s opacity; /* combine all the transition properties into one line. transition: [transition-property] [transition-duration] [transition-timing-function] [transition-delay]  */  
    }
    .button:hover {
      opacity: 0.8; /* Reduces the opacity of the button to 80% */
      text-decoration: none;
    }
    .button:active {
      opacity: 0.8; /* Reduces the opacity of the button to 80% */
      text-decoration: none;
    }

    .button-contact {
      background-color: transparent;
      color: #C25700;
      text-transform: uppercase;
      border: 2px solid #C25700;
    }
    .button-contact:hover {
      background-color: #c05000;
      color: #ffffff;
    }
    .button-contact:active {
      background-color: #c05000;
      color: #ffffff;
    }



    /* ID - MOSTLY INDEX AND ABOUT PAGE STYLES 
      added hero, work, and contact to index html. will define styling later as needed
      added index-page, about-page, olive-page. will define styling later as needed
      */
      
      header{
        margin: 0 auto;
        max-width: 1024px;
      }

      #hero h1 {/* id selector */
        text-align: center;  /* Centers text */
        padding-top: 0.5em;
        padding-bottom: 0;
        line-height: 1;

      }

      #hero h3 {
        text-align: center;
      }

      #hero {
        background-color: #ffffff;
        padding: 0 0;
        display:inline-block;
        width: 100%;
      }

      #work h3 {
        font-weight: 700;
      }

      #about-page h3 {
        text-align: center;
      }

      #about-page h4 {
        font-family: 'Proza Libre';
        font-weight:500;
        font-size: 1.1em;
      }

      #work h3{/* reduced spacing */
        padding-top: 0;
        padding-bottom: 0;
        margin: 0;
      }
      
      #work a { /* cannot see difference */
        margin-bottom: 20px;
      }
      
      #contact {
        background-color: #ffffff;
        margin-top: 60px;
        max-width: 1024px;
        margin-left: auto;
        margin-right: auto;
      }
      
      #contact h4 {/* id selector */
        padding-top: 15px;
        padding-bottom: 15px;
        margin: 0;
        font-family: 'Proza Libre', sans-serif;
        font-size: 1em;
        text-align: center;
      }
      
      #contact p {/* id selector */
        padding-top: 0px;
        padding-bottom: 15px;
        margin-bottom: 30px;
        font-family: 'Proza Libre', sans-serif;
        font-size: 0.6em;
        text-align: center;
      }

      #contact svg{
        opacity: 0.65;
      }
      
      .skill-tool-list {
        padding: 0;
        margin: 0 auto;
      }
      
      #about-page h3 {
        margin-bottom: 0.5em;
      }

      a.hidden {
        display: none;
      }


/* || GENERAL STYLES layout styling */

    .container { /* wrapper to hold the layout*/
      padding:0 15px;
      max-width: 1024px;
    }

    .row {
      margin:10px 0; /* 25px top and bottom, 0 left and right */
    }

    .row-project {
      margin: 0;
    }

    .non-bulletin-list {
      list-style-type: none;
      padding: 0;
    }

    .indie-project { /* to give more space between projects */
      margin-bottom: 45px;
    }

    .hidden-elements{ /* to hide */
      display: none
    }

/* || HEADER & NAVIGATION BAR for small screen  */
      
    header{
      background-color: white;
    }
    li{
      list-style: none;
    }
    
    a{
      color: #C25700;
      text-decoration: none;
    }

    .container{
      max-width: 1224px;
      margin: 0 auto;
    }

    .nav-branding{ /* name brand, cannot change the color to grey*/
      font-size: 2.5em;
      font-family: "Zen Tokyo Zoo";
    }
    #name-logo{
      color:#333333
    }

    nav {
      display: inline-block;
      width: 100%;
    }
    
    nav > ul {
      list-style-type: none;
      padding: 0;
    }
    
    nav > ul > li {
      display: inline-block;
      list-style-type: none;
      padding: 0;
      line-height: 1em;
    }
    
    nav > ul > li > a {
      display: inline-block;
      padding: 0 15px;
      color: #333333;
      text-transform: uppercase;
      text-decoration: none;
      transition: 0.3s ease-out;
    }
    
    .navtoggle{
      margin:0 0 0 0;
    }

    .navtoggle li:not(:last-child) {
      display: none;
    }
    
    .navtoggle, .navtoggle.responsive {
      position: relative;
    }
    
    /* our hamburger menu */
    .navtoggle li .icon { /* ppp*/
      position: absolute;
      right: 0;
      top: 2px;
      margin-top: 12px;
      font-size: 25px;
    }
    
    .navtoggle.responsive nav {
      padding: 24px 0 0;
    }
    
    .navtoggle.responsive li  {
      display: block;
      padding: 10px 0;
      border-top: 1px solid rgba(255,127,80,0.5);
    }
    
    .navtoggle.responsive li:last-child {
      padding: 0 0 10px;
    }
    
    .navtoggle.icon:visited{
      color:#333333
    }



  /*  GENERAL COLOR SETTING  */

      
      #prim-bg-white {
        background-color:#ffffff
      }

      #prim-cta-bg-green {
        background-color: #295214
      }

      #secd-green {
        background-color: #B2C9A7;
      }

      #secd-blue {
        background-color: #3E8798;
      }

      #secd-light-green {
        background-color: #F4F7F2;
      }

      #text-grey {
        background-color: #333333;
      }


/* || OLIVE STYLES */

  /* OLIVE TYPOGRAPHY AND SPACING AROUND IT */

      #olive-page h3 { /* titles under chapter title, some are green and some are white */
        font-weight: 600;
        margin-bottom: 0px;
        margin-top: 30px;
        text-transform: capitalize;
      }

      #olive-page h2{ /* chapter title */
        color:#295214;
        font-family:'Proza Libre';
        font-weight:bold;
        text-transform: capitalize;
        margin-bottom:5px;
        font-weight: 700;
      }

      #olive-page h4{ /* smaller title */
        font-weight:bold;
        margin-bottom:0;
        margin-top: 0;
      }

      #error-fixing-list h5 {/* to make spacing tighter */
        margin: 0;
        padding: 0;
      }

      #error-fixing-list p {/* to make spacing tighter */
        margin: 0;
        padding: 0;
      }

      #design-process-anno { /* design process annotation */
        display: inline-block;
        color:#295214;
        font-size: 0.6em;
        font-weight: 600;
        padding: 0 8px;
        text-transform: uppercase;
      }
    
    /*  LIST TEXT */

      .non-bulletin-list-horiz { /* design process annotation closer to diagram */
        list-style-type: none;
        padding: 0;
        margin:0;
      }
    
      .list-item-inline {
        display: inline-block;
        padding: 0 3em;
      }

      #style-guide-color li {
        display: inline-block;
        padding: 10px;
      }

      #style-guide-color canvas {
        float:left;
        margin:0 5px;
        width: 80px; 
        height: 80px; 
        border:1px solid #666666;
        border-radius: 0.5em;
      }
    
    /*  TEXT ALIGNMENT */
      .text-right-align {
        text-align: right;
      }
    
      .text-center-align {
        text-align: center;
      }
        
    /*  TEXT COLOR */
      .white-text { /* text inside green box */
        color:#ffffff
      }
    
      .green-text { /* green titles */
        color:#295214;
      }

      #style-guide h4 {
        text-transform: uppercase;
        font-family: 'Proza Libre';
        font-size: 0.95em;
      }

    /*  TEXT SIZE AND STYLE */

      .chapter-number { /* smaller chapter no with big chapter title */
        font-size: 0.4em;
      }
      
      .text-smaller {
        font-size: 0.8em;
      }
      
      .text-bigger {
        font-size: 1.5em;
      }
    
      .text-bold {
        font-weight:bold;
      }
    
      .text-light {
        font-weight: lighter;
      }
    
      .text-italic {
        font-style: italic;
      }
    
      .text-underline {
        text-decoration: underline;
      }

      .text-cap-word {
        text-transform: capitalize;
      }

      .text-anno { /* annotation for competitive analysis */
        font-size: 0.8em;
        line-height: 1.3;
        margin-block-end: 0em;
        padding:0;
      }

      .testing-info h4 { /* bolder titles */
        font-weight: bold;
        font-family: 'Proza Libre';
        font-size: 0.95em;
      }

      .font-sail {
        font-family: 'sail';
      }

      .font-open-sans {
        font-family: 'open sans';
      }
      
    /*  TEXT INDENT */
      .text-after-icon { /* indent not working */
        display:inline-block;
        text-indent: -10em;
      }
    
      .text-indent { /* not working */
        text-indent: 3em
      }
    
  
  /*  OLIVE - BACKGROUND COLOR */    
      .beige-bg { /* beige box */
        background-color: #E7E2CA;
        padding: 10px 0;
        max-width: 1024px;
        margin: 0px auto;
        padding: 20px 0 20px 0;
      }

      .green-bg { /* dark green box */
        background-color: #295214;
        padding: 10px 0;
      }

      .white-bg { /* white bg over beige */
        background-color: #ffffff;
        padding: 10px 0;
        max-width: 1024px;
        margin: 0px auto;
        padding: 0px 10px 0px 10px;
      }

      .grey-bg { /*  */
        background-color: #f4f4f4;
        padding: 10px 0;
        max-width: 1024px;
        margin: 0px auto;
        padding: 20px 0 20px 0;
      }

  /*  OLIVE - IMAGE STYLE */ 

    .olive-icon { /* png icons */
      max-width: 36px;
      border-radius: 50%;
      border: 2px solid rgb(255, 255, 255);
      background-color: #EEF2E6;
      margin-right:5px;
    }

    .img-right-align {
      float:right;
    }

    .img-left-align {
      float:left;
    }

    .img-center-align {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .img-center-align-alt {
      text-align: center;
    }

    .img-left-bottom-align {
      position: absolute;
      left: 0px;
      bottom: 0px;
      padding: 0px;
    }

    .img-float { /* not in use */
      float: left;
      margin:0 5px;
    }

    .img-max800{
      max-width: 800px;
    }
    
    .img-max280{
      max-width: 280px;
    }

    .img-max512{
      max-width: 512px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .img-max720{
      max-width: 720px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .img-max640{
      max-width: 640px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .img-max1024{
      max-width: 1024px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .img-80p{
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 90%;
    }

    .img-40p{
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 40%;
    }

    .img-30p{
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 30%;
    }

    .img-50p{
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 50%;
      margin: 1em;
    }

    .img-border-radius{
      border-radius: 15px;
    }
    
    #olive-page video{
      max-width: 300px;
    }



  /*  OLIVE - LAYOUT STYLE */

    /* OLIVE - table style */
      table {
        border-collapse: collapse;
        width: 100%;
      }

      td, th {
        border: 0px solid #ffffff;
        text-align: left;
        line-height: 1.2;
        padding: 5px;
        font-weight: normal;
      }

      #button-list th {
        height: 70px;
        padding-left: 5px;
      }

      #text-field-list th {
        height: 30px;
        padding-left: 5px;
      }

      #text-button-black{
        float:right;
        width: 50%
      }

      #text-button-green{
        float:right;
        width: 41%
      }

      .td-width-40 {
        width: 40%;
      }

      .td-width-36px {
        width:36px;
      }

      #green-table td {
        border-color: #295214;
      }

      #green-table th {
        border-color: #295214;
      }

      #style-guide {
        margin: 30px;
      }
    
    /* OLIVE - column layout */      
      .column-2 { /* Create two equal columns that floats next to each other */
        float: left;
        width: 50%;
        padding: 5px;
      }

    /* OLIVE - other layout */
      .relative {
        position: relative;
      }

      .box-wrap-1 { /* to wrap text */
        inline-size: 100px;
        overflow-wrap: break-word;
      }

      .container-top-bottom { /* to give top margin */
        padding-top: 15px;
        padding-bottom: 15px;
        display:block;
      }

      .container-top-bottom-2 { /* to give margin */
        padding: 0.5em 1em 2em 1em;
        display:block;
      }

      .container-bottom-padding { /* if it is svg, it has to write inside svg tag */
        padding-bottom: 30px;
      }

      .container-bottom-margin { /* try to give more space in style guide */
        margin-bottom: 30px;
      }

      .container-round-corner {
        max-width: 1024px;
        margin-left: auto;
        margin-right: auto;
        background-color: #295214;
        border-radius: 3em 0 2em 0;
        padding: 1em 1em 2em 1em;
      }

      .container-beige {
        max-width: 1024px;
        margin-left: auto;
        margin-right: auto;
        background-color: #E7E2CA;
        padding: 1em 0 2em 0;
      }

      .container-round-corner-grey {
        max-width: 1024px;
        margin-left: auto;
        margin-right: auto;
        background-color: #f4f4f4;
        border-radius: 3em 0 2em 0;
        padding: 1em 0 2em 0;
      }

      .margin-top-bottom-zero { 
        margin: 0;
      }

      .margin-top-zero {
        display: block;
        margin-top: 0;
      }

      .inline-block { /* test layout */
        display: inline-block;
      }

      .list-half-width {
        width: 50%;
        padding: 0 0px;
      }

      .style-guide-color-block { /* for primary and second color block layout, fail to work, not in use */
        width: 50%;
        height: 150px;
        margin: 0 5px;
        border: 2px solid rgb(0, 0, 0);
      }

      .text-right-padding { /* to make some space btw words in one line */
        padding-right: 0.5em;
      }

      .top-padding {
        padding-top:20px;
      }

      #contact a{ /* add spaces btw social media logo */
        padding-left: 0.5em;
        padding-right: 0.5em;
      }




  /* OLIVE pdf link: click to view more */
      
      .olive-pdf-link {
        display: inline-block;
        text-transform: capitalize;
        font-weight: 400;
        padding: 5px 10px;
        margin-top: 15px;
        margin-bottom: 15px;
        background-image: linear-gradient(to bottom right, #B2C9A7, #F4F7F2) ;
        box-shadow: 2px 2px 2px #afafaf;
        font-weight: 400;
        padding: 5px 10px 5px 10px;
        border-radius: 10px;
        transition: 0.3s opacity; 
        color:#295214;
      }

      .olive-pdf-link:visited {
        color:#295214;
      }

      .olive-pdf-link:hover {
        color: #ffffff;
        text-decoration: underline;
        background-image: linear-gradient(to bottom right, #295214, #B2C9A7)
      }

      .olive-pdf-link:active {
        color: #5e9c3f;
        text-decoration: underline;
        margin:0;
        padding:0;
      }




  /* CSS ANIMATION  */

  .box-outline { /*  just for testing  */
    border: 3px solid rgb(0, 0, 0);
  }

  .berlin-illustration { /* not in use  */
    width: 100%;
    max-width: 100%;
    height: auto;
  }

  @keyframes color-change {
    0% {fill: #edc655;}
    50% {fill: #fcffad;}
    100% {fill: #f76414;}
  }

  #background { /* not working, why???  */
    animation: 4s color-change infinite alternate linear;
  }

  @keyframes leaf-move-1 {
    0% {transform: rotateZ(0deg);}
    50% {transform: rotateZ(10deg);}
    100% {transform: rotateZ(0deg);}
  }

  #leaf-1, #leaf-3, #leaf-5, #leaf-7 {
    animation:leaf-move-1 2s infinite linear;
    transform-origin: center;
    transform-box:fill-box;
  }
  
  @keyframes leaf-move-2 {
    0% {transform: rotateZ(0deg);}
    50% {transform: rotateZ(-15deg);}
    100% {transform: rotateZ(0deg);}
  }

  #leaf-2, #leaf-4, #leaf-6, #flower-1, #flower-3, #flower-5, #ivy-2 {
    animation:leaf-move-2 2s infinite linear;
    transform-origin: center;
    transform-box:fill-box;
  }
  
  @keyframes min-hand-rotation {
    from {transform: rotateZ(0deg);}
    to {transform: rotateZ(360deg);}
  }

  #min-hand {
    animation:min-hand-rotation 30s infinite linear;
    transform-origin: center bottom;
    transform-box: fill-box;
  }

  @keyframes hour-hand-rotation {
    from {transform: rotateZ(0deg);}
    to {transform: rotateZ(360deg);}
  }

  #hour-hand {
    animation:hour-hand-rotation 360s infinite linear;
    transform-origin: left center;
    transform-box: fill-box;
  }

  @keyframes fr-grow {
    0% {transform: scale(1);}
    50% {transform: scale(1.5);}
    100% {transform: scale(1);}
  }

  @keyframes fr-grow-2 {
    0% {transform: scale(1.2);}
    50% {transform: scale(0.9);}
    100% {transform: scale(1.2);}
  }

  #fr1, #fr2, #fr3, #fr4,  #fr5, #fr6, #fr11, #fr22, #fr33, #fr44, #fr55, #fr66, #fr77 {
    animation:fr-grow 1s infinite linear;
    transform-origin: center;
    transform-box: fill-box;
  }

  #flower-2, #flower-4 {
    animation:fr-grow 5s infinite linear;
    transform-origin: center;
    transform-box: fill-box;
  }

  
  #branch-1, #ivy-2{
    animation:leaf-move-1 3s infinite linear;
    transform-origin: left bottom;
    transform-box: fill-box;
  }

  #branch-2, #ivy-1{
    animation:leaf-move-2 5s infinite linear;
    transform-origin: right bottom;
    transform-box: fill-box;
  }

  #flower-1, #flower-3, #flower-5 {
    animation:fr-grow-2 4s infinite linear;
    transform-origin: center;
    transform-box: fill-box;
  }

  #clock-frame {
    animation:min-hand-rotation 60s infinite linear;
    transform-origin: center;
    transform-box: fill-box;
  }

  /* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  
  .container { /* wrapper to hold the layout*/
    padding:0 30px;
  }

  header { /* The unset property resets the property to either its initial value */
    text-align: unset;
  }

  /* || nav bar for med and lg screen||  */

  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  nav > ul > li {
    display: inline-block;
    position: relative;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }
  

  #hero h1 {/* header farther away from hero text in bigger screen */
    padding-top: 1em;
  }

  .col-md-6 { /*  two columns split 50/50 across the screen i.e. 6 grid columns out of 12 */
    width: 50%;
    padding:10px;
  }

  .col-md-5 { /*  two columns split 50/50 across the screen i.e. 6 grid columns out of 12 */
    width: 42%;
    padding:10px;
  }

  .col-md-7 { /*  two columns split 50/50 across the screen i.e. 6 grid columns out of 12 */
    width: 58%;
    padding:10px;
  }

  .col-md-4 { /*  two columns split 50/50 across the screen i.e. 6 grid columns out of 12 */
    width: 33%;
    padding:10px;
  }

  .col-md-8 { /*  two columns split 50/50 across the screen i.e. 6 grid columns out of 12 */
    width: 66%;
    padding:10px;
  }

  body { /* small screen size is 16px */
    font-size: 18px; 
  }

  #img-top-bot-padding{
    padding: 60px 20 60px 20;
  }

  #button-list {
    max-width: 720px;
  }

  #text-field-list {
    max-width: 720px;
  }
  
  #button-list th {
    padding-left: 20px;
  }

  #text-field-list th {
    padding-left: 20px;
  }

  #img-max320{
    max-width: 280px;
  }
  
  .container-80p{
    max-width: 85%;
    margin:10px auto;
    text-align: center;
  }
  
  #padding-left {
    padding-left: 20px;
  }

  #padding-right {
    padding-right: 20px;
  }

  #olive-page h2{ /* chapter title */
    font-size: 3em;
    padding:0 20px 0 20px;
  }

  .white-bg { /* give space between problem statement and design process*/
    padding: 20px 10px 20px 10px;
  }

  .page-title{/* for "my work" and "about" */
    margin-top: 3em;
  }

}

  

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {

  .col-lg-7 { 
    width: 58.33%;
    padding:10px;
  }

  .col-lg-6 { 
    width: 50%;
    padding:10px;
  }

  .col-lg-5 { 
    width: 41.66%;
    padding:10px;
  }

  .col-lg-4 { 
    width: 33%;
    padding:10px;
  }

  .container {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }

  .vertical-center{
    display: flex;
    align-items: center;
  }

  .top-margin{
    padding-top: 30px;
  }

}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}  


